<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>code</th>
        </tr>
    </thead>
    <tbody>
        {{#each Products}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{price}}</td>
            <td>{{stock}}</td>
            <td>{{code}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>



